{% extends 'base.html' %}
<!--title-->
{% block title %} Register Page {% endblock %}
<!--body-->
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white">
            {{ form.hidden_tag() }}
            <img
                class="my-4"
                src="../static/images/logo.png"
                alt="Logo"
                width="250"
            />
            <h1 class="h3 mb-3 font-weight-normal">Please Create your Account</h1>
            <br />
<!--            username-->
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
<!--            email-->
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}
<!--            password-->
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
<!--            confirm password-->
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            <br />
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
